body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login,.signup{
  padding: 35px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}
.pagination {
  width: 100%
}
.pagination p{
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
}
.navbar{
  background-color: #f8f9fa00!important;
}
.navbar-brand{
  margin-right: 40px;
}
.navbar-brand img{
  width: 170px;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
}
ul.navbar-nav li{
  margin: 0px 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.loginLogout a{
  margin-right: 15px;
}
.navbar-nav .addMovie button{
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 40px;
  font-weight: 600;
  background-color: #cd3100;
  border: 0px;
}
.startBackColor .navbar .navbar-collapse .hideNavitem{
  visibility: hidden;
}
.startBackColor .navbar.show .navbar-collapse .nav-item{
  visibility: visible;
}
.pageHeadline{
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-size: 52px;
  padding-left:15px;
}
h6.pageHeadline{
  font-size: 24px;
}
.addMoviePoster{
  width: 100%;
}
.movieItem{
  text-align: center;
}
.movieItemImage img{
  max-height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imageByUrl{
  position: absolute;
  width: calc(100% - 50px);
  top: 50px;
  left: 25px;
  color: white;
}
.moviePoster{
  width: 100%;
}
.sternBox{
  text-align: center;
  border-radius: 5px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.a.sel1,.b.sel2,.c.sel3{
  border: 2px solid #2196F3;
}
.sternBox img{
  width: 40px;
}
.editButton{
  margin-bottom: 15px;
}
.editButton button{
  font-size: 20px;
  padding: 5px 40px;
}
body{
  background-color: linear-gradient(45deg, rgba(0,61,82,1) 0%, rgba(0,85,101,1) 75%);
  padding-bottom: 40px;
  background-image: none;
  background-size: 100%;
  background-color: #053b4c !important;
}
body::before{
  background: linear-gradient(45deg, rgba(0,61,82,0.7) 0%, rgba(0,85,101,0.7) 75%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  content: "";
}
body.startBackColor::before{
  background: linear-gradient(45deg, rgba(0, 61, 82, 0.1) 0%, rgba(0, 85, 101, 0.1) 75%);
}
body.startBody::before{
  background: linear-gradient(45deg, rgba(0, 61, 82, 0.5) 0%, rgba(0, 85, 101, 0.5) 75%);
}
@media print {
  body {-webkit-print-color-adjust: exact;}
  }
/* Navbar */
.nav-item.loginNav a {
  color: white;
  text-decoration: none;
  border-radius: 112px;
  border: none !important;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 16px;
  line-height: 100px;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px #0000004a;
  font-weight: 400 !important;
}  

.nav-item.loginNav a:hover {
  background: #00556561;
}  
/* Skills Page */
.skillsPageBox{
  border-right: 1px solid #9E9E9E;
  min-height: 80vh;
}
.skillsPageBoxSub{
  border-right: 0px;
}
.skillsPageBox h4{
  color: white;
}
.skillsPageSkillButton{
  margin: 20px 0px;
  padding: 10px 30px;
  font-size: 20px;
}
/* Box Item */
.boxItem{
  border: none;
  border-radius: 5px;
  padding: 15px 15px 40px 15px;
  cursor: pointer;
  margin-bottom: 15px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  color: white;
  position: relative;
}
.boxItem button{
  display: inline-block;
  margin: 3px;
  border: 0px;
  font-size: 14px;
}
.boxItem .masterButton{
  background-color: #673AB7;
}
.boxItem .subButton{
  background: #2196F3;
}
.boxItem .inspiButton{
  background: #FF9800;
}
.boxItem .finishedButton{
  background: #4CAF50;
}
.boxItem .title{
  font-size: 20px;
  font-weight: 400;
}
.boxItem .desc{
}
.boxItem p{
  margin-bottom: 10px;
}
.boxItem .leader{
  font-size: 12px;
  display: none;
}
.boxItem .leader span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.boxItem .co_leader{
  font-size: 12px;
  display: none;
}
.boxItem .co_leader span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.boxItem .co_leader i{
  color: grey;
}
.boxItem .goalpoints{
  font-size: 12px;
}
.boxItem .goalpoints span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.boxItem .collectedpoints{
  font-size: 12px;
}
.boxItem .collectedpoints span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.boxItem.boxOpen .desc{
  display: inherit;
}
.boxItem.boxOpen .leader{
  font-size: 12px;
  display: inherit;
}
.boxItem.boxOpen .co_leader{
  font-size: 12px;
  display: inherit;
}
.boxOpen{
  background: #ffffffd9;
}
.boxItem .level{
  float: right;
  font-size: 20px;
  font-weight: 600;
}
.boxItem .level1{
  color: #F44336;
}
.boxItem .level2{
  color: #FF5722;
}
.boxItem .level3{
  color: #3F51B5;
}
.boxItem .level4{
  color: #4CAF50;
}
.happyVideo{
  width: 70vw;
  left: 15vw;
  top: 5vh;
  position: fixed;
  z-index: 100;
}
.happyVideo video{
  width: 100%;
}
.happyVideo h2{
  font-weight: 900;
  text-align:center;
  background: #0000008f;
  z-index: 100;
  color:white;
  font-size: 35px;
  padding: 15px;
}
.boxItem .editDeleteButtons{
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 12px;
  display: inline-block;
  width: 96%;
  padding: 7px 1px;
}
.boxItem .edit{
  color: transparent;
  margin-right: 10px;
}
.boxItem .edit:hover{
  color: #ffff;
}
.boxItem .delete{
  color: transparent;
}
.boxItem .delete:hover{
  color: #ffff;
}
.boxItem .inspirationCreator{
  font-size: 14px;
  color: #abfaff;
}
.showInspiButton{
  margin: 0px;
}
.likeButton i{
  float: right;
  padding: 0px 15px;
  color: transparent;
}
.likeButton i:hover{
  color: #ffff;
}
/* Ranking */
.ranking .boxItem .goalpoints,.ranking .boxItem .deadline,.ranking .boxItem .deadline,
.ranking .boxItem .desc,.ranking .boxItem .leader,.ranking .boxItem .co_leader,
.ranking .boxItem .editDeleteButtons,.ranking .boxItem .subButton,.ranking .boxItem .inspiButton{
  display: none;
}
.ranking .boxItem .deadline{
  display: none;
}
/* Home Badge */
.badge{
  background-image: url("http://localhost:3000/static/media/masterBadge.91110760.png");
  width: 200px;
  height: 200px;
  background-size: cover;
}
.subBadge{
  background-image: url("http://localhost:3000/static/media/subBadge.4d801dd3.png")
}
.numberBadge{position: absolute;
  color: white;
  top: 105px;
  left: 102px;
  font-size: 20px;
}
.badgeText{
  text-align: center;
  line-height: 22px;
  color: white;
}
.badgeSkill{
  background-image: url("http://localhost:3000/static/media/skillBadge.acb2dfbd.png");
  width: 300px;
  height: 300px;
  background-size: cover;
  margin-left: calc((100% - 300px)/2);
}
.textBadgeSkill{
  position: absolute;
  color: white;
  top: 125px;
  left: 95px;
  font-size: 20px;
  text-align: center;
  width: 180px;
}
.homeSkills p{
  color: white;
  text-align: center;
}
.homeSkills{
  padding-bottom: 100px;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  padding-top: 50px;
}
.badgeSkillDiv{
  border: 1px solid #d6b379;
}
.timeline {
  margin-top: 40px;
}
.timeline h2{
  text-align: center;
  color: white;
}
.itemCreator{
  display: inherit;
  float: right;
  color: #3F51B5;
  font-weight: 700;
}
/* Login */
.login{
  background: white;
  padding: 45px!important;
}
.signup{
  background: white;
  padding: 45px!important;
}
.signup .formerror {
  font-size: 12px;
  margin-bottom: 0px;
}
.loginCircle{
  border-radius: 600px;
  width: 500px;
  height: 500px;
  position: relative;
  padding: 80px;
  left: calc((100% - 500px) / 2);
  text-align: center;
  box-shadow: 2px 2px 8px #0000004a;
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
  color: white;
}
.loginCircle .loginSubmit div{
  line-height: 20px;
}
.loginCircle h4{
  margin-bottom: 25px;
}
.loginCircle input{
  border: 0px;
  background: none;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
}
.loginCircle .form-control:focus {
  color: #ffffff;
  background-color: #fff0;
  border-color: #80bdff00;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgb(32, 138, 122);
  border-bottom: 1px solid white;
}
.loginCircle  input:-internal-autofill-selected {
  order: 0px;
  background: none;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
}
.loginCircle a{
  color: white;
  font-weight: 600;
}
.loginCircle .loginSubmit{
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 150px!important;
  height: 150px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 100px!important;
  max-height: 100px;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  margin-right: 0px;
}
.loginCircle .loginSubmit:hover {
    background: linear-gradient(45deg, rgba(44,86,85,0.9) 0%,rgba(26,188,156,0.99) 95%) !important;
}
.loginBottomText{
  margin-top: 30px;
}
.loginCircle.signUp{
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
}
.loginCircle.signUp .bottomText{
  position: absolute;
  bottom: 45px;
  width: 50%;
  left: 25%;
}
.loginCircle .row{
  display: block;
  display: block;
  padding: 0px;
  margin: 0px;
}
.signUp .signSubmit {
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 150px!important;
  height: 150px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 100px!important;
  max-height: 100px;
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}
.signUp .signBefore{
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 100px!important;
  height: 100px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  margin-right: 25px;
  cursor: pointer;
}
.passwordForgotLink {
  margin: 0px;
  font-size: 11px;
  margin-top: -11px;
  text-align: right;
  color: #d8c5bf;
}
.passwordForgotLink a{
  color: #d8c5bf;
}
.passwordForgotSuccess{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
/* Buttons */
form .saveButton, form .finishedButton, .finishedButtonDiv .finishedButton{
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 120px!important;
  height: 120px!important;
  display: inline-block;
  font-size: 16px;
  line-height: 90px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 90px!important;
  max-height: 90px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
}
.finishedButtonDiv{
  display: inline-block;
}
.finishedButtonDiv .finishedButton{
  line-height: 20px;
}
form .saveButton{
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
}
.saveButton.btn.btn-primary:hover {
   background: linear-gradient(45deg,rgba(44,86,85,0.9) 0%,rgba(26,188,156,0.9) 95%) !important;
}
.finishedButton{
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%)!important;
}
.finishedButton:focus{
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%)!important;
}
.finishedButton.btn.btn-primary:hover {
   background: linear-gradient(300deg, rgba(240,82,81,0.9) 0%, rgba(243,145,0,0.9) 100%) !important;
}
.notFinished{
  background: linear-gradient(300deg, rgba(245, 65, 24, 0.75) 0%, rgba(240,82,81,0.9) 100%);
}
/*  */
.row{
  width: 100%;
}
/* Modal */
.modal-dialog{
  width: 90%!important;
  max-width: 60%!important;
}
.modal-header{
  border: 0px!important;
  padding: 0px!important;
  margin: 0px!important;
}
.modal-content{
  padding: 25px!important;
  background-color: #ffffff00!important;
  border-radius: 15px!important;
  background: linear-gradient(45deg, rgba(0,61,82,0.9) 0%, rgba(0,85,101,0.9) 75%);
}
.modal-body{
  padding: 40px!important;
}
/* Movie */
.movieTitle{
  font-weight: 600;
  font-size: 30px;
}
.movieScore{
  font-weight: 600;
  font-size: 25px;
}
.movieInfo span{
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
}
.movieDirecor,.moviePlot{
  font-size: 16px;
}
.deleteButton{
  font-size: 14px!important;
  margin-left: 25px;
  padding: 5px 20px!important;
}
/* Navbar */
.navbar .navLeftItems a {
  color: white;
  text-decoration: none;
  border-radius: 112px;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px #00000075;
  font-weight: 400;
  border: 1px solid #0000002e;
}
.navbar .navLeftItems a:hover {
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}
.loginLogout i{
  font-size: 40px;
  font-weight: 600;
}
.nav-item .fa-power-off:hover{
  color: #f2923d;
}
/* Projects */
.projectItem{
  color: white;
  text-decoration: none;
  border-radius: 123px;
  background: #f39100;
  width: 200px!important;
  height: 200px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 200px;
  text-transform: none;
  text-align: center;
  padding: 0px;
  max-width: 200px!important;
  max-height: 200px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px #0000004a;
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}

.projectItem:hover {
  width: 210px !important;
  height: 210px !important;
  max-width: 210px !important;
  max-height: 210px !important;
  margin-bottom: 10px;
}

.projectItem a:hover {
  text-decoration: none;
  font-weight: 400;
}
.projectItem p{
  color: white;
  font-size: 16px;
  padding: 0px 3px;
}
.editDeleteButtons{
  position: absolute;
  bottom: 0px;
}
.projectItem .projectTitle{
  line-height: 20px;
  display: inline-block;
  padding: 0px 20px;
}
.moreButtons{
  position: absolute;
  top: -50px;
  right: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
.moreButtons i{
  width: 30px;
  text-align: right;
}
.moreInfoBox{
  width: 400px;
  height: 250px;
  position: absolute;
  top: -110px;
  left: 125px;
  z-index: 10;
  border-radius: 15px;
  display:none;
  line-height: 20px;
  text-align: left;
  padding: 20px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
}
.moreInfoBox .fa, .moreInfoBox .far, .moreInfoBox .fas {
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}
.desc, .flex, .leader, .deadline, .title {
  display: flex;
}
.fa.fa-video, .fa.fa-info, .far.fa-address-card, .far.fa-calendar-alt, .far.fa-user {
    width: 32px;
    text-align: center;
}

#content form{
  padding: 0px;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 15px;
}
#content form input{
  border: 0px;
  background: none;
  border-bottom: 1px solid #208a7a;
  text-align: center;
  color: white;
}
form button{
  background: #195f5b;
  border: 0px;
  /* margin-right: 15px; */
  padding: 10px 30px;
}
.projectsAddProjectButton{
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 200px!important;
  height: 200px!important;
  display: inline-block;
  font-size: 16px;
  line-height: 150px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 200px!important;
  max-height: 200px;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  margin: auto;
  font-weight: 400;
}
.projectsAddProjectButton:hover {
   width: 210px !important;
   height: 210px !important;
   max-width: 210px !important;
   max-height: 210px !important;
   margin-bottom: 10px;
}
.newProject{
  margin: 0px;
}
.projectsPageActivityBox h4{
  color: white;
  font-size: 52px;
  text-align: center;
  margin: 0;
}
.projectsPageActivityBox.col-md-4 {
  padding-right: 0;
  padding-left: 30px;
  margin-top: 33px;
  border-left: 0.5px solid #ffffff91;  
}
.activities{
  height: 49vh;
  width: 100%;
  background: none;
  border-radius: 10px;
  padding: 15px;
  padding-top:20px;
  color: white;
  overflow-y: scroll;
  scrollbar-width: none;
}

.activities::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
	display:none;
}
.activities::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: #d2d2d2;
  height: 50px;
}
.activities::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.activities span:nth(2){
  font-weight: 700;
}
.progress {
  position: absolute;
  width: 60%;
  bottom: 40px;
  left: 21%;
  background-color: #e9ecef9c!important;
}
.projectSortButton{
  margin-top: -67px;
}
.projectSortButton button{
  float: right;
  padding: 5px 30px;
  color: transparent !important;
  text-decoration: none;
  border-radius: 123px;
  width: 150px!important;
  height: 150px!important;
  display: inline-block;
  font-size: 16px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 100px!important;
  max-height: 100px;
  position: relative;
  background: none;
  border: 0px;
  font-weight: 400;
  box-shadow: none;
}

.btn-primary:hover{
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%) !important;
  box-shadow: 2px 2px 8px #0000004a !important;
  color: #fff !important;
}
.btn-primary:focus{
  background: none !important;
  box-shadow: 2px 2px 8px #0000004a !important;
  color: #fff !important;
}
.show.projectSortButton button{
  background: none!important;
}
.projectSortButton button::after{
  bottom: 21px;
  position: absolute;
  right: 35px;
  font-size: 40px;
  font-weight: 500;
  border-radius: 10px;
}
.projectSortButton .dropdown-menu{
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  border-radius: 15px;
}
.projectSortButton .dropdown-menu a{
  color: white;
}
.projectSortButton .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ffffff40;
}
.selectProjectType {
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 150px!important;
  height: 150px!important;
  display: inline-flex;
  font-size: 14px;
  line-height: 90px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 90px!important;
  max-height: 90px;
  position: relative;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  cursor: pointer;
}
.selectProjectType p {
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}
.selectProjectType div{
  width: 100%;
}
.selectProjectType:first-child {
  margin-right: 15px;
}
.selectProjectType.selected {
  border: 2px solid #ff9800bf;
}
.projectSearch input{
  height: 40px;
  padding: 15px;
  border-radius: 0px;
  background: none;
  border: 0px;
  border-bottom: 1px solid #ffffff54;
  color: white;
  margin-left: 5px;
}
.projectSearch select{
color: #90afb7;
border-radius:100px;
width: 90px !important;
height: 90px !important;
font-size: 16px;
text-align: center;
padding: 0px 10px;
max-width: 90px !important;
max-height: 90px;
background: transparent;
box-shadow: 2px 2px 8px #0000004a;
border: 0px;
}

.projectPageProjects{
  text-align: left;
  margin: auto;
}
.projectPageProjects .col-md-4 {
    padding: 0;
}
.navsubDiv{
  line-height: 25px;
  margin-top: 25px;
}
.navsubDiv i{
  color: white;
  font-size: 30px;
}
.projectsHeadTitle{
  color: white;
  font-size: 52px;
  text-align: left;
  margin: 0;
  margin-bottom: 23px;
  width: 100%;
}
/* Single Project */
.singleProjectSubNav{
  margin-bottom: 35px;
}
.singleProjectSubNavButton {
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 120px;
  height: 120px;
  display: inline-block;
  font-size: 16px;
  line-height: 120px;
  text-transform: none;
  text-align: center;
  max-width: 120px;
  max-height: 120px;
  margin-right: 15px;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(26,188,156,0.95) 0%, rgba(44,86,85,0.95) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  text-transform: uppercase;
  padding: 0px 10px;
}
.singleProjectSubNavButton.hoverEnlarge{
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  line-height: 160px;
  margin-top: -40px;
}
.singleProjectSubNavButton.hoverEnlargeNext{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  line-height: 150px;
  margin-top: -30px;
}
.singleProjectSubNavButton.hoverEnlargeNextNext{
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
  line-height: 130px;
  margin-top: -10px;
}
[data-finished=false] {
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
}
[data-finished=true] {
  background-color: #f39100;
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}
.singleProjectSubNavButton div{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 0px;
  padding-top: 20px;
  width: 100%;
}
.projectInfo {
  color: #ffffff;
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  background: linear-gradient(45deg, rgba(0, 43, 58, 0.95) 0%, rgba(0, 64, 77, 0.95) 75%);
}
.projectInfo i{
  border: none;
  padding: 7px;
  border-radius: 100px;
  margin-right: 5px;
  font-weight: 600;
  color: white;
}
.notSelect .selectedCircle {
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  line-height: 160px;
  margin-top: -40px;
}
.progressStage{
  color: white;
  line-height: 20px;
  display: inline-table!important;
  background-color: #ffffff00!important;
  text-align: center;
  margin-top: -35px;
  font-size: 12px!important;
}
.projectItem .progress-bar {
  background: linear-gradient(300deg, rgba(243,145,0,1) 0%, rgba(240,82,81,1) 100%);
  box-shadow: inset 1px 1px 1px #ffffff52;
}
#stageButtons{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.numberProjectSteps {
  font-size: 16px;
}
/*  */
.editDeleteButtons {
  text-align: right;
  font-size: 12px;
  display: inline-block;
  width: calc(100% - 30px);
}
.editDeleteButtons span{
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
}
/* Add Form */
.addFormBox{
  padding: 25px;
  border-radius: 15px;
  background: #073837b3;
  margin-top: 20px;
}
.addFormBox form {
  background: none;
}
.newFormButton {
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 120px!important;
  height: 120px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 120px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 120px!important;
  max-height: 120px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
}
.newFormButton div{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 0 25px;
  width: 100%;
}
.updateOldForm{
  color: white;
}
.addFormSubButton {
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  width: 200px;
  height: 75px;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 20px;
  position: relative;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  margin-right: 10px;
}
.addMultiple{
  margin-top: 15px;
  padding: 15px 20px;
  height: auto;
  width: auto;
}
.addFormSubButton :first-child{
  padding: 0px;
  line-height: 20px;
  margin-right: 0px;
  background: none;
  color: white;
  display: inherit;
  border: 0px;
}
.deleteQuestionform{
  text-align: right;
  width: 100%;
  color: #F44336;
  margin-top: -25px;
}
.questionupdown{
  margin-right: 10px;
}
.questionupdown i{
  margin-right: 5px;
  cursor: pointer;
}
/* Project Stages */
#ideasList {
  padding-top: 20px;
  padding-bottom: 80px;
  border-bottom: 0.5px solid #ffffffc7;
}
#content .ideationStage form {
}
.buttonsRow{
  border-bottom: none;
  padding: 25px 15px;
  margin-bottom: 15px;
}
.vimeoLink{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 80px;
  border-bottom: 0.5px solid #fff;
}
.vimeoLink a{
  color: white;
  margin: auto;
  padding-top: 10px;
  font-size: 18px;
  box-shadow: 2px 2px 11px #00000061;
  padding: 5px 33px;
  border-radius: 6px;
}
.rowPositioning{
  display: inline-block!important;
  text-align: center;
}
.ideationDeadlineInput .rdtPicker{
  margin-top: 10px;
  background: #3e95a0;
  padding: 15px;
  border-radius: 15px;
  color: white;
}
.ideationDeadlineInput{
  position: relative;
}
.ideationDeadlineInput input{
  padding: 5px 10px;
  border-radius: 15px;
  background: #3e95a0;
  color: white;
  border: 0px;
}
.ideationDeadlineInput .rdtPicker tfoot{
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.ideationDeadlineInput .notiToPeople{
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%)!important;
}
.ideationDeadlineInput .notiToPeopleSave{
  height: 100%!important;
  position: absolute;
  left: 200px;
  bottom: 0px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
}
.ideaLiked .boxItem {
  background: linear-gradient(300deg, rgba(243, 145, 0, 0.9) 0%, rgba(240,82,81,0.9) 100%);
}
#conceptFeedbacks {
  border-bottom: 0.5px solid #fff;
  padding-bottom: 80px;
}
.conceptfeedbackCreator {
  font-size: 12px;
  margin-bottom: 0px !important;
  color: #abfaff;
}
#conceptFeedbacks .boxItem .title {
  padding-top: 10px;
}
.videoBox a{
  color: #ffff;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(120deg, rgba(38,111,124,0.9)0%,rgba(0,178,188,0.9)100%);
  border-radius: 5px;
  margin-bottom: 40px !important;
  width: 97%;
  padding: 5px 0px;
  font-weight: 300;
  display: block;
  margin: auto;
  box-shadow: 1px 1px 10px #000000bf;
}
.videoBox a p{
  margin: auto;
}
.videoBox a:hover{
  text-decoration: none;
  font-weight: 600!important;
  color: white;
}
.spotPageRow{
  padding-top: 0px;
}
.spotPageRow{
  padding-top: 0px;
}
.spotPageRow h4 {
    color: white;
}
.addMoreSpot {
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 120px!important;
  height: 120px!important;
  display: inline-block;
  font-size: 16px;
  line-height: 90px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 90px!important;
  max-height: 90px;
  margin-right: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
}
.addMoreSpot div {
  line-height: 20px;
}
/* Ideation */
.showIdeaArchives p{
  color: white;
  cursor: pointer;
  display: inline-block;
  visibility: hidden;
}
.showIdeaArchives {
  margin-top: -40px;
}
.showIdeaArchives:hover p{
  visibility: visible;
}
.hideArchive{
  display: none;
}
.archivedIdea{
  opacity: 0.5;
}
/* Rough Cut */
.moreSpotDelete{
  position: absolute;
  right: 70px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
/* Container */
.container {
  max-width: 95%;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1300px!important;
  }
}
@media (min-width: 1500px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1400px!important;
  }
}
.startVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -5;
  object-fit: cover;
}
.startHeader{
  position: relative;
}
.startClock{
  text-align: center;
  display: block;
  font-size: 900%;
  color: white;
  text-shadow: 5px 5px 15px #000000b5;
  font-weight: 600;
  line-height: 1;
}
.startHeader img{
  width: 400px;
  margin-left: 10px;
}
.startCircle {
  border-radius: 600px;
  width: 550px;
  height: 550px;
  padding: 100px 0px;
  text-align: center;
  box-shadow: none;
  background: none;
  color: white;
  left: calc((100% - 550px) / 2);
}
/* Ideation */
.notiToPeople{
  color: white;
  text-decoration: none;
  border-radius: 123px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  width: 150px!important;
  height: 150px!important;
  display: inline-block;
  font-size: 16px;
  line-height: 140px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 110px!important;
  max-height: 110px;
  margin-right: 10px;
  cursor: pointer;
  border: 0px;
}
.notiToPeople p{
  display: block;
  line-height: 20px;
  font-weight: 400;
  margin:0;
}
.notifyUsersList{
  position: absolute;
  width: 300px;
  background: #122c2ae8;
  max-height: 200px;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 15px;
  min-height: 200px;
  left: 30px;
  top: 5px;
  color: white;
  font-size: 15px;
}
.notifyUsersList span{
  margin-right: 10px;
  margin-left: 10px;
}
.notifyUsersList button{
  border-radius: 5px;
  margin-top: 25px;
  display: block;
  margin-top: 25px;
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 120px!important;
  height: 120px!important;
  font-size: 14px;
  line-height: 90px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 90px!important;
  max-height: 90px;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
}
.notifyUsersList button p{
  line-height: 20px;
  display: contents;
}
.notifyBox textarea{
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  color: white;
}
.notifyBox{
  margin-bottom: 25px;
  margin-top: -35px;
  display: contents;
}
/* Canvas Positioning */
.canvasPosition { 
  background-size: 100% 100%;
  width: 700px;
  height: 600px;
}
/* Activity */
.activityMessage{
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ffffff26;
  padding: 15px 0px;
  font-weight: 400;
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  border-radius: 5px;
  padding: 15px 21px;
}
.activityMessage span{
  font-weight: 200;
}
.activityHeader{
  font-weight: 800;
}
.activityHeader span{
  font-weight: 800;
}
/* Start */
.startHeader h1{
  z-index: 1000;
  color: white;
  text-align: center;
  font-size: 337.5%;
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: 5px 5px 10px #000000d1;
  line-height: 1;
}
.startHeader h3{
  text-shadow: 5px 5px 10px #000000d1;
  font-size: 2.1875rem;
  line-height: 1.1;
}
h3{
  text-align: center;
  color: white;
  font-size: 50px;
}
.startNav .startNavRow a{
  color: white;
  text-decoration: none;
  border-radius: 112px;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px #0000004a;
  font-weight: 400;
  text-align: center;
  visibility: hidden;
  margin-left:15px;
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}
.startNav .startNavRow a:hover {
  background: linear-gradient(300deg, rgba(240,82,81,0.9) 0%, rgba(243,145,0,0.9) 100%);
}
.startNav{
  width: 350px;
  height: 500px; 
  position: absolute;
  left: 60px;
}
.show .startNavRow a{
  visibility: visible;
}

/* PDF Create */
.pdfCreate{
  margin-top: -91px;
}
.pdfCreateButton {
  border: 0px;
  margin-bottom: 10px;
  float: right;
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 90px;
  height: 90px;
  display: inline-block;
  font-size: 16px;
  line-height: 90px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  margin-right: 10px;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
}
/* Idea */


.boxItem.idea{
  position: relative;
}
.boxItem.idea .editDeleteButtons{
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 12px;
  display: inline-block;
  width: 96%;
  padding: 7px 1px;
}
.conceptBox a p{
  font-size: 12px!important;
  text-align: left;
  color: #00ffd9;
}
.feedbackPage .finishedButtonDiv,.conceptPage .finishedButtonDiv,.ideationStage .finishedButtonDiv{
  float: right;
}
.conceptPage .finishedButton {
    margin-top: -175px;
}
.conceptPageRow.row {
    border-bottom: 0.5px solid 
    #fff;
    padding-bottom: 80px;
}

/* Navbar */
.startLogo{
  width: 100%;
}
/* Weather */
.startWeather{
  width: 222px;
  float: left;
  position: fixed;
  bottom: 10px;
  left: 40px;
}
#weatherWidget .locationName {
  color: #ffffff;
}
form textarea.form-control{
  background: linear-gradient(120deg, rgba(38,111,124,0.9) 0%, rgba(0,178,188,0.9) 100%);
  border-radius: 15px;
  border: 0px;
  color: white;
  padding: 15px;
}
form textarea.form-control:focus {
  color: #ffffff;
  background-color: #2e747f;
  border-color: #80bdff;
  outline: 0;
  border: 0px;
  box-shadow: 0 0 0 0.2rem rgba(46, 116, 127, 0.81);
}
.rowPositioning.row {
  padding-left: 100px;
}
.col-md-9 {
  background: linear-gradient(95deg, rgba(0, 43, 58, 0.95) 0%, rgba(0, 64, 77, 0.95) 75%);
  padding: 30px 30px;
  border-radius: 25px;
}
/*.ideationStage.container, .conceptPage.container, #questionaireContent, #creativebriefingContent, .feedbackPage.container, .col-md-9, #positioning {
  background: linear-gradient(45deg,rgba(0, 24, 32, 0.8) 0%, rgba(0, 64, 77, 0.8) 75%);
  padding: 30px 30px;
  border-radius: 25px;
}*/
#questionaireContent .row {
  margin: auto;
}
.pdfView button{
  display:none;
}
.pdfView .pageHeadline {
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
  font-size: 52px;
  text-align: left;
  color: white;
  margin-bottom: 90px;
}
#content.pdfView form {
  background: none;
}
.pdfTitle {
  display: none;
}
#content.pdfView .pdfTitle {
  display: inherit;
  margin-left: 0px;
}
#content.pdfView .pdfTitle h4{
  margin-bottom: 45px;
}
#content.pdfView {
  cursor: wait!important;
}
#projectInfoPdf.pdfView{
  font-size: 25px;
  width: 180%;
}
#projectInfoPdf.pdfView p:nth-child(2){
  display: none;
}
.loadingPdf{
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #00000082;
  height: 100vh;
  z-index: 10;
  display: none;
}
.loadingPage{
  display: inherit;
}
.loadingPdf div:first-child{
  width: 100vw;
  position: fixed;
  top: 50%;
  left: calc(50% - 100px);
  height: 100vh;
}
.loadingPdf img{
  width: 200px;
}
*:focus {
  outline: none!important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
  background-color: none;
  border-color: none;
}
.projectDeadline{
  margin-left: 40px;
  margin-top: -5px;
}

.conceptbillInput{
  display: inline-block;
  font-size: 18px;
  color: white;
  padding-left: 17px;
}
.conceptFeedbacks{
  padding-top: 25px;
}
.conceptcreator{
  color: white;
  cursor: pointer;
  padding-left: 17px;
  font-size: 18px;
  box-shadow: 2px 2px 11px #00000054;
  padding: 5px 17px;
  border-radius: 6px;
  margin-left: 14px;
  margin-top: -15px;
}
.conceptcreator span{
  font-weight: 600;
}
#conceptbillfile{
  font-size: 12px;
  margin-bottom: 15px;
}
/* Form */
form {
  color: white;
}
textarea#desc::placeholder {
  color: white;
}
input#title::placeholder {
  color: white;
}
input#customer::placeholder,textarea#desc::placeholder,input#captain::placeholder,input#deadline::placeholder {
  color: white;
}
form.greenBack input, form.greenBack select{
  background: #2e747f!important;
  border: 0px!important;
  color: white!important;
}
.submitButtonForm{
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  border-radius: 123px;
  width: 150px!important;
  height: 150px!important;
  display: inline-block;
  font-size: 14px;
  line-height: 100px;
  text-transform: none;
  text-align: center;
  padding: 0px 10px;
  max-width: 100px!important;
  max-height: 100px;
  position: relative;
  background: linear-gradient(45deg, rgba(26,188,156,0.9) 0%, rgba(44,86,85,0.9) 95%);
  box-shadow: 2px 2px 8px #0000004a;
  border: 0px;
  cursor: pointer;
}
.buttonOrange{
  background: linear-gradient(300deg, rgba(243,145,0,0.9) 0%, rgba(240,82,81,0.9) 100%);
}
.submitButtonForm :first-child{
  padding: 0px;
  line-height: 20px;
  margin-right: 0px;
  background: none;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
}
.notFinished div{
  line-height: 20px;
}
form .form-label{
  font-size: 20px;
}
.form-check-inline {
  display: block!important;
  margin-bottom: 5px!important;
}
.formerror{
  color: #FF9800;
  font-weight: 600;
  font-size: 18px;
}
input[type=checkbox]:checked + label {
  color: #3b87f6;
}
/* Admin */
.startmesaggesContent{
  border-bottom: 1px solid #a2a2a285;
  margin-bottom: 20px;
}
/* Success Box */
.successbox{
  position: fixed;
  bottom: 20px;
  right: -10px;
  background: #dc663b;
  padding: 10px 20px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  padding-right: 20px;
  z-index: 50;
  display: none;
  text-align: left;
}
.successbox p{
  display: contents;
  color: #ffffff;
  font-weight: 600;
}  
/* Movie Item */
.movieItem span{
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px;
}
.movieItem .title{
  font-weight: 600;
  font-size: 25px;
}
.movieItem .score{
  font-weight: 600;
  font-size: 20px;
}
.movieItem a{
  text-decoration: none;
  color: black;
}
.movieItem a:hover{
  text-decoration: none;
}
.movieItem p{
  margin: 4px 0px;
}
.movieItem{
  margin-bottom: 50px;
}
p,div,a,h1,h2,h3,h4,h5,h6,button{
  font-family: 'Rajdhani Medium', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
button:focus{
  border: 0px!important;
}
@media (min-width: 992px){
  .navbar-expand-lg {
    padding: 20px 60px!important;
}
}

